.config/fish/fish_variables
.config/obsidian/
.config/QQ/
.config/com.pot-app.desktop/
.config/eSearch/
.config/fcitx/log/
.config/fcitx/clipboard/history.dat
.config/fcitx/dbus/
.config/mozilla/firefox/Crash Reports/
.config/ibus/bus/
.config/mihomo/cache.db
.local/share/fish/fish_history
.local/share/ranger/bookmarks
.local/share/nvim/shada/
.local/share/nvim/site/
.local/share/nvim/lazy/
.local/share/nvim/mason/
.local/share/nvim/snacks/
.local/share/nvim/.netrwhist
.local/state/nvim/log
.local/state/nvim/swap/
.local/share/fcitx5/rime/build/
.local/share/fcitx5/rime/rime_ice.userdb/
.local/share/fcitx5/rime/installation.yaml
.local/share/ranger/history
.local/state/lesshst
.cache
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/authorized_keys

