[Desktop Entry]
Type=Application
Name=墨墨背单词
Exec=waydroid app launch com.maimemo.android.momo
Icon=/home/hermit/.local/share/waydroid/data/icons/com.maimemo.android.momo.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.maimemo.android.momo
Icon=/home/hermit/.local/share/waydroid/data/icons/com.android.settings.png
